fastapi                                                                        
uvicorn                                                              
pydantic    
dotenv     
db-dtypes                                                              
                                                                              
# GCP Libraries                                                                
google-cloud-bigquery                                                          
google-cloud-bigquery-storage # Optional: For faster BigQuery downloads
                                                                              
# LLM/RAG Libraries (examples, choose specific ones later)                     
langchain                                                                    
vertexai                                                                       
google-cloud-aiplatform                                                        
vanna[gemini,bigquery] # For Vanna
langchain-google-vertexai # For Langchain + Vertex AI Gemini
sqlalchemy-bigquery # For Langchain + BigQuery via SQLAlchemy
langchain-community
